.navbar {
  background-color: #7FBEAB;
}

h1, h2, h3 {
  font-family: 'Sarabun', sans-serif;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2rxem;
}

h2 {
  margin-top: 1em;
  margin-bottom: .8em;
  color: #3c6952
}

h3 {
  margin-top: .8em;
  margin-bottom: .8em;
  color: #606361;
  font-size: 1.5rem;
}

table {
  margin-top: 2.5em !important;
  margin-bottom: 2.5em !important;
}

.file-icon {
  font-size: 1.2rem;
  color: #cc551b;
}